<section class="container film">
    <ul class="film__list">
        <!-- <li class="film__item" data-id="55610">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item" data-id="26503">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item" data-id="20735">
            <img class="film__img" src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item" data-id="39853">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item" data-id="24106">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li>

        <li class="film__item" data-id="11694">
            <img class="film__img " src="./img/title-film.jpg" alt="poster">
            <div class="film__info">
                <h2 class="film__name">GREYHOUND</h2>
                <p class="film__genre">Drama, Action <span>|</span> <span class="film__year">2020</span><span class="film__rating ">10.0</span> </p>
            </div>
            
        </li> -->

        
        
        
    </ul>

</section>